@model List<UsersAsp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Lista utenti</h2>
@Html.ActionLink("Add new user","Create")


@Html.Partial("SearchPv",new UsersAsp.Models.UserSearch())

<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.LastName</td>
                <td>@u.FirstName</td>
                <td>@u.City</td>
                <td>
                    <!--<a href="users/update/@u.Id">Edit</a>-->
                    @Html.ActionLink("Detail", "GetOne", new { id = u.Id }) |
                    @Html.ActionLink("Edit", "Update", new { id = u.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = u.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>

