@model UsersAsp.ViewModels.PaginatedDataViewModel<UsersAsp.Models.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data.FirstOrDefault().User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.FirstOrDefault().User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.FirstOrDefault().LoginSuccessful)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Data) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginSuccessful)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<ul class="pagination">
    @for(int i=1; i<=Model.Pages; i++)
    {
        <li class="@(i==Model.Page ? "active" : "")" >@Html.ActionLink(i.ToString(),"Index",new { page = i},null)</li>
    }
</ul>
